header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  background-color: var(--sky-magenta);
  border: 2px solid rgb(0, 0, 0);
}

header > nav > .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

header > nav > .logo > a > img {
  width: 40px;
  height: 40px;
}

header > nav > .logo > a > img:hover {
  scale: 1.1;
  transform: rotate(90deg);
}

header > nav > .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

header > nav > .menu > ul {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 88px;
  gap: var(--spacing);
  background-color: var(--lavender-pink);
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/*MENÚ HAMBURGUESA*/

#camera {
  display: none;
}

#camera:not(:checked) + ul {
  display: none;
}

@media (min-width: 800px) {
  label {
    display: none;
  }
  #camera:not(:checked) + ul,
  nav ul {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    right: 0;
    gap: var(--spacing);
    background-color: var(--sky-magenta);
    border: none;
  }
}

/*FIN MENÚ HAMBURGUESA*/

header > .hero {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--small-spacing);
  padding: var(--spacing);
  background: url("https://i.pinimg.com/originals/d5/8f/a9/d58fa96e7c3ecb3969260444d993379d.gif");
}

header > .hero > .inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing);
  flex-wrap: wrap;
}

header > .hero > .inputs > select {
  width: 100px;
  height: 30px;
  font-family: inherit;
  text-align: center;
  border: 3px groove var(--snow);
  border-radius: 10px;
  background-color: var(--lavender-pink);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

header > .hero > .searcher {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing);
}

header > .hero > .searcher > #searchInput {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-family: inherit;
    text-align: center;
  }
  