@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");

:root {
  --english-violet: #60435f;
  --sky-magenta: #d67ab1;
  --lavender-pink: #e2a3c7;
  --snow: #fdf7fa;
  --tiffany-blue: #a8dcd9;
  --spacing: 20px;
  --bubbly-font: "DynaPuff", serif;
  --cherry-font: "Cherry Bomb One", serif;
  --border: 2px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--snow);
  font-family: var(--bubbly-font);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(14, 13, 13, 0.3);
  background-color: var(--snow);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--tiffany-blue);
}

ul {
  list-style-type: none;
}

a {
  color: var(--snow);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--english-violet);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  color: var(--snow);
  text-align: left;
  line-height: 1.5;
}

p {
  text-align: center;
  padding: var(--spacing);
}

button {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.3s;
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:hover {
  border: 2px solid var(--snow);
  color: var(--tiffany-blue);
  background-color: var(--english-violet);
  font-weight: bold;
}
