main {
  width: 100%;
  height: auto;
  border-left: var(--border);
  border-right: var(--border);
}

#message,
#suggestions > p {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  font-size: 2em;
  font-family: var(--cherry-font);
  font-weight: 400;
  text-shadow: 1px 1px 0px #ffffff, 2px 2px 0px #000000;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: var(--spacing);
  padding: var(--spacing);
}

#gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#suggestions {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  border-top: 8px dashed var(--tiffany-blue);
}

#suggestions > div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

.centered-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-column: 1 / -1;
}
