footer {
  width: 100%;
  height: auto;
  background-color: var(--sky-magenta);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  border: var(--border);
}

footer > .info-links {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}
